<h1>LISTADO DE ADOLESCENTES CON ACTIVIDADES</h1>
<button mat-raised-button color="primary" (click)="openModal()" >
  <mat-icon>add</mat-icon>
  Nuevo
</button>
<label for="filtroActivo">Filtrar por estado:</label>
<select id="filtroActivo"  (change)="filtrarPorEstado()">
  <option value="activos">Activos</option>
  <option value="inactivos">Inactivos</option>
</select>

<table class="table">
  <thead>
  <tr>
    <th scope="col" class="text-center"><strong>  Actividad  </strong></th>
    <th scope="col" class="text-center"><strong>  Fecha de Publicación  </strong></th>
    <th scope="col" class="text-center"><strong>  Adolescente  </strong></th>
    <th scope="col" class="text-center"><strong>  Acciones  </strong></th>
  </tr>
  </thead>
  <tbody >
  <tr *ngFor="let item of transaccional">
    <td class="text-center">{{item.activitiesResponseDto.name }}</td>
    <td class="text-center">{{item.activitiesResponseDto.date | date:'dd-MMM-yy'}}</td>
    <td class="text-center">{{item.teenResponseDto.father_last_name }} {{item.teenResponseDto.mother_last_name }},{{item.teenResponseDto.name }}</td>
    <td class="text-center">
      <div class="columna-acciones">
        <button mat-fab color="primary" aria-label="Editar" >
          <mat-icon>mode_edit</mat-icon>
        </button>
        <button  mat-fab color="warn" aria-label="Eliminar">
          <mat-icon>delete</mat-icon>
        </button>

      </div>
    </td>

  </tr>

  </tbody>
</table>
