<h1>HISTORIAL DE PARTICIPACION DE ADOLESCENTES EN ACTIVIDADES</h1>
<table class="table">
  <thead>
  <tr>
    <th scope="col" class="text-center"><strong>  Actividad  </strong></th>
    <th scope="col" class="text-center"><strong>  Publicación  </strong></th>
    <th scope="col" class="text-center"><strong>  Encargado  </strong></th>
    <th scope="col" class="text-center"><strong>  Adolescente  </strong></th>
    <th scope="col" class="text-center"><strong>  Asistencia  </strong></th>
    <th scope="col" class="text-center"><strong>  Acción  </strong></th>

  </tr>
  </thead>
  <tbody >
  <tr >
    <td class="text-center" >Reinserción Social</td>

    <td class="text-center">2023-10-10</td>
    <td class="text-center">Luis Fernando Vivanco Sanchez</td>
    <td class="text-center">Campos Perez Fabrizio</td>
    <td class="text-center">Si</td>
    <td class="text-center">
        <button mat-fab color="primary" aria-label="Editar" >
          <mat-icon>remove_red_eye</mat-icon>
        </button>

    </td>

  </tr>

  </tbody>
</table>
