/* Estilos para la superposición del modal */
.edit-form-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

/* Estilos para el formulario de edición */
.edit-form {
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.2);
  width: 400px;
  max-height: 80%; /* Máxima altura del formulario */
  overflow-y: auto; /* Agregar scroll vertical si es necesario */
  padding: 20px;
  text-align: left;
}

.edit-form h3 {
  margin-top: 0;
  padding-bottom: 10px;
  border-bottom: 1px solid #ddd;
}

.edit-form label {
  display: block;
  font-weight: bold;
  margin-top: 12px;
}

.edit-form input[type="text"],
.edit-form input[type="date"],
.edit-form select {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-top: 4px;
}

.edit-form .form-group {
  margin-top: 20px;
  text-align: right;
}

.edit-form button {
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 10px;
}

.edit-form button.btn-secondary {
  background-color: #ccc;
  color: #fff;
}

.edit-form button.btn-primary {
  background-color: #007bff;
  color: #fff;
}

.btn-edit,
.btn-delete {
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 5px;
  color: #fff;
}

.btn-edit {
  background-color: #007bff; /* Color azul */
}

.btn-delete {
  background-color: #dc3545; /* Color rojo */
}

/* En tu archivo de estilos CSS */
.active-row {
  background-color: #dff0d8;
}

.inactive-row {
  background-color: #f2dede;
}
