<div class="filter-section">
  <label>Filtrar por estado:</label>
  <select [(ngModel)]="filterByStatus" (ngModelChange)="filterAttorneysByStatus()">
    <option value="active">Activos</option>
    <option value="inactive">Inactivos</option>
  </select>
</div>


<div class="attorney-list">
  <h2>Lista de Attorney</h2>
  <table style="width: 100%; border-collapse: collapse; border: 1px solid #ccc;">
    <thead>
      <tr style="background-color: #f4f4f4;">
        <th style="padding: 8px; text-align: left;">ID</th>
        <th style="padding: 8px; text-align: left;">Nombre</th>
        <th style="padding: 8px; text-align: left;">Apellido Paterno</th>
        <th style="padding: 8px; text-align: left;">Apellido Materno</th>
        <th style="padding: 8px; text-align: left;">Tipo de documento</th>
        <th style="padding: 8px; text-align: left;">Número de documento</th>
        <th style="padding: 8px; text-align: left;">Celular</th>
        <th style="padding: 8px; text-align: left;">Dirección</th>
        <th style="padding: 8px; text-align: left;">Estado</th>
        <th style="padding: 8px; text-align: left;">Fecha de nacimiento</th>
        <th style="padding: 8px; text-align: left;">Tipo de apoderado:</th>
        <th style="padding: 8px; text-align: left;">Editar</th>
        <th style="padding: 8px; text-align: left;">Eliminar</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let attorney of attorneys"
        style="background-color:  '#dff0d8'">
        <td style="padding: 8px; text-align: left;">{{ attorney.id }}</td>
        <td style="padding: 8px; text-align: left;">{{ attorney.name }}</td>
        <td style="padding: 8px; text-align: left;">{{ attorney.father_last_name }}</td>
        <td style="padding: 8px; text-align: left;">{{ attorney.mother_last_name }}</td>
        <td style="padding: 8px; text-align: left;">{{ attorney.document_type }}</td>
        <td style="padding: 8px; text-align: left;">{{ attorney.document_number }}</td>
        <td style="padding: 8px; text-align: left;">{{ attorney.cellphone }}</td>
        <td style="padding: 8px; text-align: left;">{{ attorney.address }}</td>
        <td style="padding: 8px; text-align: left;">{{ attorney.active }}</td>
        <td style="padding: 8px; text-align: left;">{{ attorney.birthday }}</td>
        <td style="padding: 8px; text-align: left;">{{ attorney.type_attorney }}</td>
        <td style="padding: 8px; text-align: left;">
          <button class="btn-edit" (click)="openEditForm(attorney)">Editar</button>
        </td>
        <td style="padding: 8px; text-align: left;">
          <button class="btn-delete" (click)="deleteAttorney(attorney.id)">Eliminar</button>
        </td>
      </tr>
    </tbody>
  </table>

  <!-- Formulario de edición -->
  <div *ngIf="showEditForm" class="edit-form-overlay">
    <div class="edit-form">
      <h3>Editar Attorney</h3>
      <form>
        <label>Nombre:</label>
        <input type="text" [(ngModel)]="editedAttorney.name" name="name">

        <label>Apellido Paterno:</label>
        <input type="text" [(ngModel)]="editedAttorney.father_last_name" name="father_last_name">

        <label>Apellido Materno:</label>
        <input type="text" [(ngModel)]="editedAttorney.mother_last_name" name="mother_last_name">

        <label>Fecha de Nacimiento:</label>
        <input type="text" [(ngModel)]="editedAttorney.document_type" name="document_type">

        <label>Género:</label>
        <input type="text" [(ngModel)]="editedAttorney.document_number" name="document_number">

        <label>Numero de celular:</label>
        <input type="text" [(ngModel)]="editedAttorney.cellphone" name="cellphone">

        <label>Dirección:</label>
        <input type="text" [(ngModel)]="editedAttorney.address" name="address">


        <label>Activo:</label>
        <select [(ngModel)]="editedAttorney.active" name="active">
          <option value="yes">Sí</option>
          <option value="no">No</option>
        </select>

        <label>Fecha de Nacimiento:</label>
        <input type="date" [(ngModel)]="editedAttorney.birthday" name="birthday">

        <label>Tipo de Apoderado:</label>
        <select [(ngModel)]="editedAttorney.type_attorney" name="type_attorney">
          <option value="Papá">Papá</option>
          <option value="Mamá">Mamá</option>
          <option value="Otro">Otro</option>
        </select>

        <div class="form-group">
          <button type="button" (click)="closeEditForm()" class="btn btn-secondary">Cancelar</button>
          <button type="button" (click)="saveEditedAttorney()" class="btn btn-primary">Guardar</button>
        </div>
      </form>
    </div>
  </div>
</div>